*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway';
    position: relative;
    width: 1440px;
    height: 2491px;
    margin:0, auto, 0, auto;
    /*
    background: #000000;
    background-image: url(../assets/images/woman-code.png);
    background-size: cover;
    background-clip: border-box;
    background-attachment: fixed;*/
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 90%, rgba(49, 168, 221, 0) 100%);

    color:white
}
.banner {
    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(49, 168, 221, 0) 100%);
    background-image: url('../assets/images/banner.png');
    background-blend-mode: color;
    width: 1440px;
    height: 605px;
    padding-top: 60px;
    margin:auto;
    border-bottom: 1px solid #33A8DB80;
    align-items: center;
  }
  
.banner-content p{
    width: 530px;
    height: 46px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
   
}
.banner-content {
    color: white;
    margin: auto;
    flex: none;
    order: 2;
    text-align: center;
    flex-grow: 0;
    width: 510px;
    height: 393px;
    top: 56px;
    left: 465px;
    gap: 16px;

  }
.banner h1 {
    width: 434px;
    height: 47px;
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 40px;
    margin:20px auto;
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
    padding-bottom: 20px;
  }
  .logo img{
    width: 268px;
    height: 268px;
    gap: 10px;
    opacity: 0px;
    margin:20,auto,20,auto;
    padding-bottom: 20px;
  }
  .banner-content button{
    margin-top: 30px;
    width: 326px;
    height: 57px;
    color:  #31A8DD;
    text-transform: uppercase;
    border: 1px solid  #31A8DD;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(49, 168, 221, 0) 100%);
    background-image: url('../assets/images/banner.png');
    background-blend-mode: color;
  }
  #professional-challenges{
  position: absolute;
width: 659px;
height: 429px;
left: 390px;
top: 1685px;
}
#course-content{ 
  margin-top: 4rem;
  height: 405px;
  width: 792px;
  margin-left: auto;
  margin-right: auto;
  border: 1px dashed transparent
}
#course-content h2{
    width: 477px;
    height: 38px;
    text-align: center;
    font-weight: 700;
    margin-top: 4rem;
    margin-right: auto;
    margin-left: auto;
    color: #33A8DB;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 32px;
    line-height: 37.57px;
}
#course-content p{
  width: 792px;
  height: 38px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.78px;
  text-align: center;
  margin-top: 2.5rem;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.modules-list{
  width: Fixed 535px;
  height: 51px;
  padding: 16px 127px 16px 127px;
  text-align: center;
  gap: 10px;
  border-radius: 57px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}
.module{
  height: 19px;
  width: 440px;
  font-size: 16px;
  padding: 16px 80px 16px 80px;
  margin: 1rem auto;
  gap: 10px;
  border-radius: 57px;
  border: 1px solid #33A8D8;
  opacity: 0px;
  background: #252525;
}
span{
  color: #33A8D8;
}